

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.nav > li > a:hover, .nav > li > a:focus {
	background: none;
}

@media only screen and (max-width: 1199px) {
	.navbar .search {
		left: 76%;
	}
}

@media only screen and (max-width: 991px) {
	.navbar .search {
		left: 68%;
	}
}

@media only screen and (max-width: 767px) {
	.navbar .search img {
		float: left;
	}

	.navbar .search {
		left: 20px;
	}
}